body {
    margin : 0; /* body의 바깥 여백 제거 */
}

header {
    margin-top: 80px;
}

.nav-container {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0; /* 공백 제거 */
    padding: 0; /* 공백 제거 */
    background-color: darksalmon;
    list-style-type: none; /* 목록 기호 제거 */
}

.nav-item {
    padding: 15px;
    cursor: pointer; /* 마우스 커서를 pointer 모양으로 함 */
}

.nav-item a { /* nav-item 클래스 아래의 a 요소를 선택함 */
    text-align: center;
    text-decoration: none; /* 밑줄 없앰 */
    color: white;
}

.nav-item:nth-child(1) {
    background-color: aqua;
}

.nav-item:hover {
    background-color: salmon;
}