<!-- views/partials/nav.ejs -->

<nav>
    <header>Student List</header>
    <ul class="nav-container">
      <li class="nav-item"><a href="/students">Index</a></li>
      <li class="nav-item"><a href="/students/new">New</a></li>
    </ul>
</nav>