<!-- views/home.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %> 
  </head>
  <body>
    <%- include('partials/nav') %> 

    <div style="padding: 90px;">환영합니다</div>
  </body>
</html>