<!-- views/home.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %> 
  </head>
  <body>
    <%- include('partials/nav') %> 

    <h1 class="animated fadeInUp">Main Page</h1>
    <h5 class="animated fadeInUp delay-0point5">블루투스 장치 검색 웹페이지에 오신 것을 환영합니다.</h5>
    <h5 class="animated fadeInUp delay-1s">이 웹페이지는 주변의 블루투스 장치를 검색하고 DB에 저장된 유저 맥주소와 검색된 맥주소를 비교하여 주변에 유저가 있는지를 보여줍니다.</h5>
    <h5 class="animated fadeInUp delay-1point5">새로운 유저를 생성하시려면, 메뉴바에서 New를 눌러 지금 새로 생성할 수 있습니다.</h5>
    <h5 class="animated fadeInUp delay-2s">현재 DB에 저장된 유저 목록을 보고 싶다면, 메뉴바에서 Index 메뉴를 눌러 목록을 볼 수 있습니다.</h5>
    <h5 class="animated fadeInUp delay-2point5">유저 정보를 수정 또는 삭제하거나 유저의 블루투스 검색 결과를 확인하고 싶다면, 메뉴바에서 Index 메뉴를 눌러주세요.</h5>
    <h6 class="animated fadeInUp delay-3s">author : Choi Young-eun</h6>

  </body>

</html>