body {
    margin : 0; /* body의 바깥 여백 제거 */
}

h1 {
    margin-top: 80px;
    text-align: center;
}

h5 {
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
}

h6 {
    text-align: center;
}

.delay-0point5 {
    animation-delay: 0.5s;
    animation-duration: 3s;
}

.delay-1point5 {
    animation-delay: 1.5s;
    animation-duration: 3s;
}

.delay-2point5 {
    animation-delay: 2.5s;
    animation-duration: 3s;
}

.delay-3point5 {
    animation-delay: 3.5s;
    animation-duration: 3s;
}

.delay-4point5 {
    animation-delay: 4.5s;
    animation-duration: 3s;
}

.nav-container {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0; /* 공백 제거 */
    padding: 0; /* 공백 제거 */
    background-color: darkblue;
    list-style-type: none; /* 목록 기호 제거 */
}

.nav-item {
    padding: 15px;
    cursor: pointer; /* 마우스 커서를 pointer 모양으로 함 */
}

.nav-item a { /* nav-item 클래스 아래의 a 요소를 선택함 */
    text-align: center;
    text-decoration: none; /* 밑줄 없앰 */
    color: white;
}

.nav-item:nth-child(1) {
    background-color: gray;
}

.nav-item:hover {
    background-color: blue;
}

table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
    text-align: center;
}


.button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }