<html>
<head>
    <%- include('../partials/head') %>
<script>
window.onload = function() {
var o = "<%= o %>"
var x = "<%= x %>"

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "User Graph"
	},
	data: [{
		type: "pie",
		startAngle: 240,
		yValueFormatString: "##명",
		indexLabel: "{label} {y}",
		dataPoints: [
			{y: o, label: "Scanned"},
			{y: x, label: "Not Scanned"},
		]
	}]
});
chart.render();

}
</script>

</head>
<body>
    <%- include('../partials/nav') %>
    <h1 class="animated fadeInUp">Graph</h1>
    <h5 class="animated fadeInUp delay-0point5" style="margin-bottom: 50px;">5분 전부터 지금까지 스캔된 유저의 수를 표시합니다.</h5>
    <div style="padding-top: 100px;"></div>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>