<!-- views/students/index.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %> 
    <%- include('../functions') %>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  </head>
  <body>
    <%- include('../partials/nav') %> 
    <h1 class="animated fadeInUp">Graph</h1>
    <h5 class="animated fadeInUp delay-0point5" style="margin-bottom: 50px;">5분 전부터 지금까지 스캔된 결과를 표시합니다.</h5>
    <div><%=results%></div>

    <div id="chartContainer" style="height: 300px; width: 100%;"></div>

    <div id="chartContainer2" style="height: 300px; width: 100%;"></div>

  </body>
</html>