<!-- views/students/index.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %> 
  </head>
  <body>
    <%- include('../partials/nav') %> 

    <div style="padding: 90px;">
      <h2>Index</h2>
      <ul>
        <% students.forEach(function(student) { %> 
          <li>
            <a href="/students/<%= student._id %>"><%= student.name %></a>
          </li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>